{% extends 'admin/master.html' %}

{% block body %}
<style>
    .box{
        border: none;
        border-bottom: 1px solid black;
        background: transparent;
        width:25rem;
        font-size:1.5rem;
    }
    .box:focus{
        border: none;
        border-bottom: 1px solid #325ee4;
        outline: none;
    }
    
    .area{
        margin: 3rem;
    }

    .btn{
        border: 1px solid #0b8abc;
        background: transparent;
    }
    .btn:hover{
        background-color: #0b8abc;
        color:white;
    }
    .alert{
        border: 1px solid greenyellow;
        background-color: rgb(204, 241, 147);
        position: relative;
        top:25rem;
    }
</style>
<form method="post">
    {{form.hidden_tag()}}
    <div class="col-md-6">
        <div class="row area">
            {{form.current_password(class="box",placeholder="Current Password")}}
        </div>
        <div class="row area">
            {{form.new_password(class="box",placeholder="New Password")}}
        </div>
        <div class="row area">
            {{form.confirm_new_password(class="box",placeholder="Confirm New Password")}}
        </div>
        <div class="row area">
            {{form.submit(class="btn")}}
        </div>
    </div>
</form>
{% if success %}
<div class="alert alert-success">
    <p>Password Changed</p>
</div>
{% endif %}
{% endblock %}